*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

body{
  background-image: radial-gradient(rgb(3, 28, 61), rgb(26, 26, 26));
  background-attachment: fixed;
}

.container{
  max-width: 1080px;
  margin: 20px auto;
}
